body {
    background-color: rgb(186, 233, 186);
    margin-left: 50px;
}

.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(9, 91, 9, 0.484);

}

.square {
    height: 200px;
    width: 200px;
    border: solid black 1px;
}

.mole {
    background-image: url(images/WhackAMole1.jpg);
    background-size: cover;
}